header{ 
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1%;
  border-bottom: 2px dashed gray;

  h2{
    border:1px solid lime;
    display: flex;
    align-items: center;
    padding: 2% 0;
  }
  @media @phone {
    border:2px solid gold;
    margin: 0 5%;
  }
}

.home{
  // border:2px solid lime;

  .content-section {
    // border:2px solid red;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;

      }
    }
    @media @phone {
      // border:2px solid gold;
      margin: 5%;
      display: flex;
      align-items:center;
      justify-content: center;
      width:95%;
      
        .text-content{
          width:100%;
        }
        .img-content{
          width:100%;
        }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .destination {
      width: 30%;
      margin-bottom: 30px;

      .btn{
        .custom-btn();
        align-items: center;
      }
    }
  }
}// home